// SPACING
$max: 24;
$offset: 4;
$unit: "px"; // Feel free to change the unit.
@mixin spacing($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} {
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}
